---
import { getCollection } from "astro:content";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import Grid from "../components/Grid.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import ThemeToggle from "../components/ThemeToggle.astro";

// Content Fetching: List four most recent work projects
const projects = (await getCollection("work"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);
---

<BaseLayout>
  <div class="stack gap-20 lg:gap-48">
    <main class="wrapper stack gap-4 lg:gap-2">
      <header class="section-header gap-2 lg:gap-4">
        <div class="stack">
          <h3>Sketchbook</h3>
          <p class="header-des">The experimental work of SevicheCC.</p>
        </div>
        <ThemeToggle />
      </header>
      <section class="section with-background with-cta">
        <div class="gallery">
          <Grid variant="offset">
            {
              projects.map((project) => (
                <li>
                  <PortfolioPreview project={project} />
                </li>
              ))
            }
          </Grid>
        </div>
      </section>
    </main>
  </div>
</BaseLayout>

<style>
  main {
    padding-top: 2rem;
  }

  /* ====================================================== */

  .section {
    display: grid;
    gap: 2rem;
  }

  .with-background {
    position: relative;
  }

  .with-background::before {
    --hero-bg: var(--bg-image-subtle-2);
    content: "";
    position: absolute;
    pointer-events: none;
    left: 50%;
    width: 100vw;
    aspect-ratio: calc(2.25 / var(--bg-scale));
    top: 0;
    transform: translateY(-75%) translateX(-50%);
    background:
      url("/assets/backgrounds/noise.png") top center/220px repeat,
      var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
      var(--gray-999);
    background-blend-mode: overlay, normal, normal, normal;
    mix-blend-mode: var(--bg-blend-mode);
    z-index: -1;
  }

  .with-background.bg-variant::before {
    --hero-bg: var(--bg-image-subtle-1);
  }

  .section-header {
    justify-self: center;
    text-align: center;
    font-size: var(--text-md);
    color: var(--gray-300);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  .header-des {
    text-indent: 1.5em;
  }
  @media (min-width: 50em) {
    main {
      padding-top: 3rem;
    }
    .section {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "header header header header" "gallery gallery gallery gallery";
      column-gap: 5rem;
      row-gap: 2rem;
    }

    .section.with-cta {
      grid-template-areas: "header header header cta" "gallery gallery gallery gallery";
    }

    .section-header {
      font-size: var(--text-lg);
      flex-direction: row;
      align-items: flex-start;
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }

    .gallery {
      grid-area: gallery;
    }
  }
</style>
